[submodule "site-lisp/f.el"]
	path = site-lisp/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/ginkgo-mode"]
	path = site-lisp/ginkgo-mode
	url = https://github.com/garslo/ginkgo-mode.git
